robotframework
selenium
requests
appium-python-client
pyyaml
xmltodict
jira
sqlalchemy
api4jenkins
boto3
psycopg2
psycopg2-binary
opencv-python
Pillow
pdfplumber
pdfquery
pypdf
BeautifulSoup4
pandas
openpyxl
faker
pyotp